.btn {
  border-width: 2px;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #FFEDF7;
}
.is-builder .template {
  background-color: #FFEDF7;
}
body {
  font-family: 'Golos Text', sans-serif;
}
.display-1 {
  font-family: 'Golos Text', sans-serif;
  font-size: 7rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.75rem;
}
.display-2 {
  font-family: 'Golos Text', sans-serif;
  font-size: 5.8rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.25rem;
}
.display-4 {
  font-family: 'Golos Text', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Golos Text', sans-serif;
  font-size: 2.4rem;
  line-height: 1.3;
}
.display-5 > .mbr-iconfont {
  font-size: 3rem;
}
.display-7 {
  font-family: 'Golos Text', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.9rem;
    font-size: calc( 3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.64rem;
    font-size: calc( 2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 4.9rem;
    font-size: calc( 3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 4.64rem;
    font-size: calc( 2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.6799999999999997rem + (5.8 - 2.6799999999999997) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 1.92rem;
    font-size: calc( 1.49rem + (2.4 - 1.49) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.49rem + (2.4 - 1.49) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #F9E830 !important;
}
.bg-success {
  background-color: #26D081 !important;
}
.bg-info {
  background-color: #0DC4E9 !important;
}
.bg-warning {
  background-color: #F6B800 !important;
}
.bg-danger {
  background-color: #D22435 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #F9E830 !important;
  border-color: #F9E830 !important;
  color: #292501 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #faee62 !important;
  border-color: #faee62 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #292501 !important;
  background-color: #faee62 !important;
  border-color: #faee62 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #DD4E74 !important;
  border-color: #DD4E74 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #e57996 !important;
  border-color: #e57996 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e57996 !important;
  border-color: #e57996 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0DC4E9 !important;
  border-color: #0DC4E9 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #35d4f4 !important;
  border-color: #35d4f4 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #35d4f4 !important;
  border-color: #35d4f4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #26D081 !important;
  border-color: #26D081 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #4bde9a !important;
  border-color: #4bde9a !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4bde9a !important;
  border-color: #4bde9a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #F6B800 !important;
  border-color: #F6B800 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffc92a !important;
  border-color: #ffc92a !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffc92a !important;
  border-color: #ffc92a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #D22435 !important;
  border-color: #D22435 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e04958 !important;
  border-color: #e04958 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e04958 !important;
  border-color: #e04958 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #F9E830;
  color: #F9E830;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ccbc06 !important;
  background-color: transparent !important;
  border-color: #ccbc06 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #292501 !important;
  background-color: #F9E830 !important;
  border-color: #F9E830 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #DD4E74;
  color: #DD4E74;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b22248 !important;
  background-color: transparent !important;
  border-color: #b22248 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #DD4E74 !important;
  border-color: #DD4E74 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0DC4E9;
  color: #0DC4E9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #087f97 !important;
  background-color: transparent !important;
  border-color: #087f97 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0DC4E9 !important;
  border-color: #0DC4E9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #26D081;
  color: #26D081;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #198754 !important;
  background-color: transparent !important;
  border-color: #198754 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #26D081 !important;
  border-color: #26D081 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #F6B800;
  color: #F6B800;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9f7700 !important;
  background-color: transparent !important;
  border-color: #9f7700 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #F6B800 !important;
  border-color: #F6B800 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #D22435;
  color: #D22435;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #881722 !important;
  background-color: transparent !important;
  border-color: #881722 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #D22435 !important;
  border-color: #D22435 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #F9E830 !important;
}
.text-secondary {
  color: #DD4E74 !important;
}
.text-success {
  color: #26D081 !important;
}
.text-info {
  color: #0DC4E9 !important;
}
.text-warning {
  color: #F6B800 !important;
}
.text-danger {
  color: #D22435 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #beae05 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a52043 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #167a4c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #087388 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #906c00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #7b151f !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #F9E830;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0DC4E9;
}
.alert-warning {
  background-color: #F6B800;
}
.alert-danger {
  background-color: #D22435;
}
.mbr-gallery-filter li.active .btn {
  background-color: #F9E830;
  border-color: #F9E830;
  color: #423c02;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #F9E830;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fffef6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ccf6e2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c6f3fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff0c3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f6ccd0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Golos Text', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #F9E830 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Golos Text', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #F9E830;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #F9E830;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #F9E830;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #F9E830;
  border-bottom-color: #F9E830;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000 !important;
  background-color: #F9E830 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #fff !important;
  background: #DD4E74 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23F9E830' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn {
  font-weight: 400;
  flex-direction: row-reverse;
  padding: 10px 20px;
  border-radius: 0 !important;
}
.mbr-section-btn .btn .mbr-iconfont {
  margin-left: 0;
  margin-right: 12px;
  transition: all 0.2s ease;
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn .btn:focus .mbr-iconfont {
  transform: rotate(-45deg);
}
.mbr-section-btn .btn-primary:hover,
.mbr-section-btn .btn-secondary:hover,
.mbr-section-btn .btn-success:hover,
.mbr-section-btn .btn-info:hover,
.mbr-section-btn .btn-warning:hover,
.mbr-section-btn .btn-danger:hover,
.mbr-section-btn .btn-primary:focus,
.mbr-section-btn .btn-secondary:focus,
.mbr-section-btn .btn-success:focus,
.mbr-section-btn .btn-info:focus,
.mbr-section-btn .btn-warning:focus,
.mbr-section-btn .btn-danger:focus {
  background-color: #232323 !important;
  color: #ffffff !important;
  border-color: #232323 !important;
}
.mbr-section-btn .btn-black:hover,
.mbr-section-btn .btn-black:focus {
  background-color: #F9E830 !important;
  color: #292501 !important;
  border-color: #F9E830 !important;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 0 !important;
}
.little-radius,
.form-control {
  border-radius: 0.5rem !important;
  border-radius: 0 !important;
}
